{% extends 'base.html' %}
{% load static %}

{% block title %}
Home | Kurti Shop
{% endblock %}

{% block content %}

<!-- Hero section -->
<section class="bg-pink-50 py-20">
    <div class="max-w-7xl mx-auto px-5">

        <div class="grid md:grid-cols-2 gap-12 items-center">

            <div>

                <h1 class="text-5xl md:text-6xl font-bold leading-tight">
                    Discover Elegant
                    <span class="text-pink-600">
                        Kurtis
                    </span>
                    For Every Occasion
                </h1>

                <p class="mt-6 text-gray-600 text-lg">
                    Explore our premium collection of stylish,
                    comfortable and trendy kurtis.
                </p>

                <div class="mt-8 flex gap-4">

                    <a href="{% url 'product_list' %}"
                       class="bg-pink-600 text-white px-8 py-3 rounded-lg hover:bg-pink-700">
                        Shop Now
                    </a>

                    <a href="#"
                       class="border border-pink-600 text-pink-600 px-8 py-3 rounded-lg hover:bg-pink-50">
                        Explore
                    </a>

                </div>

            </div>

            <div>
                <img
                    src="{% static 'images/hero/hero1.png' %}"
                    alt="Hero Image"
                    class="rounded-3xl shadow-lg">
            </div>

        </div>

    </div>
</section>
<!-- Categories -->
<section class="py-20">

    <div class="max-w-7xl mx-auto px-5">

        <h2 class="text-4xl font-bold text-center">
            Shop By Category
        </h2>

        <p class="text-center text-gray-500 mt-4">
            Find the perfect style for every occasion.
        </p>

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 mt-12">

            {% for category in categories %}
                <div class="text-center">
                    <img
                        src="{{ category.image.url }}"
                        class="rounded-2xl shadow-md h-72 w-full object-cover">

                        <h3 class="mt-4 font-semibold">
                            {{ category.name }}
                        </h3>
                </div>
            {% endfor %}

        </div>

    </div>

</section>

<!-- New Arrivals -->
 <section class="py-20 bg-gray-50">

    <div class="max-w-7xl mx-auto px-5">

        <h2 class="text-4xl font-bold text-center">
            New Arrivals
        </h2>

        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-12">

            {% for product in new_arrivals %}

                {% include 'includes/product_card.html' %}

            {% empty %}

                <p>No products Found</p>
            
            {% endfor %}
        </div>

    </div>

</section>

<!-- Feature Products -->

<section class="py-20">

    <div class="max-w-7xl mx-auto px-5">

        <h2 class="text-4xl font-bold text-center">
            Featured Collection
        </h2>

        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-12">

            {% for product in featured_products %}

                {% include 'includes/product_card.html' %}

            {% empty %}

                <p>No Featured Products.</p>

            {% endfor %}

        </div>

    </div>

</section>

<!-- Promo Banner -->
<section class="py-20">

    <div class="max-w-7xl mx-auto px-5">

        <div class="bg-pink-600 rounded-3xl text-white p-16 text-center">

            <h2 class="text-5xl font-bold">
                Summer Sale
            </h2>

            <p class="mt-5 text-xl">
                Get up to 40% off on selected collections.
            </p>

            <button
                class="mt-8 bg-white text-pink-600 px-8 py-3 rounded-xl font-semibold">
                Shop Now
            </button>

        </div>

    </div>

</section>
<!-- Why Choose Us -->
 <section class="py-20 bg-gray-50">

    <div class="max-w-7xl mx-auto px-5">

        <h2 class="text-4xl font-bold text-center">
            Why Choose Us
        </h2>

        <div class="grid md:grid-cols-4 gap-8 mt-12">

            <div class="text-center">
                <h3 class="text-xl font-semibold">
                    🚚 Free Shipping
                </h3>
            </div>

            <div class="text-center">
                <h3 class="text-xl font-semibold">
                    🛡 Secure Payment
                </h3>
            </div>

            <div class="text-center">
                <h3 class="text-xl font-semibold">
                    ⭐ Premium Quality
                </h3>
            </div>

            <div class="text-center">
                <h3 class="text-xl font-semibold">
                    🔄 Easy Returns
                </h3>
            </div>

        </div>

    </div>

</section>

<!-- Instgram Gallery -->

<!-- Newsletter -->

{% endblock %}