{% extends 'base.html' %}

{% block title %}
Shop | Kurti Shop
{% endblock %}

{% block content %}

<section class="bg-pink-50 py-16">

    <div class="max-w-7xl mx-auto px-5">

        <h1 class="text-5xl font-bold">
            Our Collection
        </h1>

        <p class="mt-4 text-gray-600">
            Explore our latest kurti collections.
        </p>

    </div>

</section>

<section class="py-16">

    <div class="max-w-7xl mx-auto px-5">

        <div class="grid lg:grid-cols-4 gap-10">

            <!-- Sidebar -->

            <div>

                <div class="bg-white p-6 rounded-2xl shadow-sm">

                    <h3 class="font-semibold text-xl mb-5">
                        Categories
                    </h3>

                    <ul class="space-y-3">

                        <li>
                            <a href="#" class="text-gray-600 hover:text-pink-600">
                                Casual Kurtis
                            </a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-600 hover:text-pink-600">
                                Cotton Kurtis
                            </a>
                        </li>

                        <li>
                            <a href="#" class="text-gray-600 hover:text-pink-600">
                                Party Wear
                            </a>
                        </li>

                    </ul>

                </div>

            </div>

            <!-- Products -->

            <div class="lg:col-span-3">

                <div class="flex justify-between items-center mb-8">

                    <h2 class="text-2xl font-semibold">
                        Products
                    </h2>

                    <p class="text-gray-500">
                        {{ products.count }} Products
                    </p>

                </div>

                <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-8">

                    {% for product in products %}

                        {% include 'includes/product_card.html' %}

                    {% empty %}

                        <p>No Products Found</p>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}