asgiref==3.11.1
brotli==1.2.0
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cloudinary==1.45.0
cssselect2==0.9.0
Django==5.2.15
django-cloudinary-storage==0.3.0
django-environ==0.14.0
fonttools==4.63.0
gunicorn==26.0.0
idna==3.18
packaging==26.3
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-decouple==3.8
razorpay==2.0.1
reportlab==5.0.0
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
urllib3==2.7.0
webencodings==0.5.1
zopfli==0.4.3
whitenoise